<ion-header>
    <ion-navbar>
        <ion-title>Feed</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <ion-card *ngFor="let dream of dreams">
        <ion-card-header *ngIf="dream.title">{{dream.title}}</ion-card-header>
        <ion-card-content>{{dream.text}}</ion-card-content>
        <ion-label class="dream-date-posted">{{dream.dateCreated | date:"HH"}}:{{dream.dateCreated | date:"mm"}} {{dream.dateCreated | date: 'dd/MM/yy'}}</ion-label>
        <label (click)="readFull(dream)">Read full dream</label>
    </ion-card>
</ion-content>
